@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Sejá bem-vindo ao sistema do Supermercado!</h2>
    <img src="/material/cart.png" alt="" class="image margin">
    <p class="text-justify">Bem-vindo ao sistema de gerenciamento de produtos! Este CRUD (Create, Read, Update, Delete) foi desenvolvido para facilitar a gestão eficiente e intuitiva dos produtos em nosso catálogo. Com a funcionalidade de adicionar produtos, proporcionamos uma maneira fácil e rápida para incluir novos itens em nossa oferta. Seja você um administrador, gerente de estoque ou responsável pela atualização do catálogo, este sistema foi projetado para simplificar o processo de adição de produtos, garantindo precisão e eficiência. Explore as opções disponíveis, preencha as informações necessárias e enriqueça nosso inventário com novos produtos de forma descomplicada. Estamos comprometidos em tornar a gestão de produtos uma tarefa ágil e eficaz para melhor atender às necessidades do nosso negócio.</p>
    <p><button class="btn btn-primary" type="button" onclick="window.location.href = '@Url.Action("Index", "Produtos")'">Ver Produtos</button></p>
    

</div>
